/* Estilos Gerais */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
section {
  margin-bottom: 60px;
  padding-top: 40px;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
footer {
  text-align: center;
  background: #0b0334;
  color: white;
  padding: 5px 0;
}
@media (max-width: 550px) {
  footer {
    font-size: 13px;
  }
}